*

!api-gateway/
!api-gateway/target/
!api-gateway/target/*.jar

!user-service/
!user-service/target/
!user-service/target/*.jar

!product-service/
!product-service/target/
!product-service/target/*.jar

!inventory-service/
!inventory-service/target/
!inventory-service/target/*.jar

!order-service/
!order-service/target/
!order-service/target/*.jar

!payment-service/
!payment-service/target/
!payment-service/target/*.jar

!notification-service/
!notification-service/target/
!notification-service/target/*.jar

!infra/
!infra/docker/
!infra/docker/java-service.Dockerfile
